.advantages {
  .container();
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 28px;

  @media @tablet-widths {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
    margin-top: 33px;
  }

  @media @desktop-widths {

    margin-bottom: 81px;
    margin-top: 31px;
    width: 702px;
  }
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media @tablet-widths {

    font-size: 43px;
    line-height: 50px;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    padding-top: 25px;
    margin-left: -5px;
  }

  @media @desktop-widths {

    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media @tablet-widths {

    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
  }
}

.advantages__list-item {
  text-align: left;
  padding: 56px 10px 27px 0;

  @media @tablet-widths {

    width: 334px;
    padding: 103px 0px 8px 0;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }

  @media @desktop-widths {

    width: 351px;
    padding: 102px 0px 9px 0;
  }
}

.advantages__text {

  @media @tablet-widths {

    padding-right: 40px;
  }

  @media @desktop-widths {

    padding-right: 58px;
  }
}
