.btn {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  border: 2px solid #444444;
  background: #ffffff;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
