.contacts {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  @media @tablet-widths {

    display: flex;
    flex-wrap: wrap;
  }

  @media @desktop-widths {
    .container();
    position: relative;
    margin-top: 120px;
    margin-bottom: 105px;
  }
}

.contacts-inner {
  .container();

  @media @desktop-widths {

    position: relative;
    padding: 0;
    width: 351px;
    padding-right: 525px;
    padding-left: 174px;
  }
}

.contacts__title {

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @media @tablet-widths {

    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-left: -5px;
  }

  @media @desktop-widths {

    transform: translateY(71px);
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 0;
  }
}

.contacts__table {

  display: block;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #828282;
  border-collapse: collapse;

    a {
      color: #828282;
      padding: 0;
      margin: 0;
    }

  @media @tablet-widths {

    padding-bottom: 20px;
    font-size: 17px;
  }

  @media @desktop-widths {

    margin-top: 121px;
    padding-bottom: 49px;
  }
}

.contacts__table tbody {

  @media @tablet-widths {

    display: flex;
    flex-wrap: wrap;
  }
}

.contacts__table tr {

  @media @tablet-widths {

    display: block;
    box-sizing: border-box;
    width: 334px;
  }
}

.contacts__fiend {

  vertical-align: top;
  padding: 0;
  margin: 0;
  padding-right: 29px;
  padding-bottom: 30px;

  @media @tablet-widths {

    padding-right: 23px;
  }

  @media @desktop-widths {

    padding-right: 25px;
  }
}

.contacts__value {
  vertical-align: top;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  padding-bottom: 30px;
}

.contacts__write {
  font-size: 18px;
  line-height: 20px;
  padding: 14px 0 14px 0;
  transform: translateY(503px);

  @media @tablet-widths {

    transform: translateY(518px);
    font-size: 17px;
    width: 224px;
    padding: 14px 0 14px 0;
    margin-left: 220px;
  }

  @media @desktop-widths {

    transform: none;
    margin: 0;
    width: 227px;
  }
}
