.featured {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin: 0 auto;
  padding-bottom: 37px;

  &::after {
    content: "";
    position: absolute;
    background: url(../img/zigzag-line-tablet.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 17px;
    bottom: -10px;
  }
}

@media @tablet-widths {

  .featured {

    padding-bottom: 60px;

    &::after {
      bottom: 5px;
    }
  }
}

@media @desktop-widths {

  .featured {
    .container();
    padding-bottom: 98px;

    &::after {
      content: "";
      position: absolute;
      background: url(../img/zigzag-line-tablet.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 17px;
    }
  }
}

.featured__inner {
  .container();

  @media @tablet-widths {
    position: relative;
    width: 334px;
    padding-right: 334px;
  }

  @media @desktop-widths {

    padding: 0;
    width: 351px;
    padding-right: 525px;
    padding-left: 174px;
  }
}

.featured__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  @media @tablet-widths {

    position: relative;
    width: 500px;
    margin: 0;
    padding: 0;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 15px;
    margin-left: -3px;
  }

  @media @desktop-widths {

    font-size: 53px;
    line-height: 57px;
    width: 700px;
    transform: translateY(55px);
    z-index: 1;
  }
}

.featured__top-week {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #62d1ba;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  @media @tablet-widths {

    position: relative;
    width: 85px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    left: 562px;
    top: -53px;
    text-align: center;
  }

  @media @desktop-widths {

    width: 85px;
    margin: 0;
    padding: 0;
    top: -2px;
    left: -135px;
  }
}

.featured__descr {

  margin-bottom: 19px;

  @media @tablet-widths {

    font-size: 17px;
    line-height: 30px;
    padding-right: 51px;
    margin-bottom: 37px;
  }

  @media @desktop-widths {

    margin-bottom: 47px;
    margin-top: 55px;
    padding-right: 70px;
  }
}

.featured__table {
  lfont-size: 15px;
  line-height: 20px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 27px;

  td {
    border-bottom: 1px solid #ececec;
    padding: 8px 29px 11px 0;
  }

  @media @tablet-widths {

    width: 290px;
    margin-bottom: 56px;

    td {
      padding: 9px 0 10px 0;
    }
  }

  @media @desktop-widths {

    margin-bottom: 108px;

    td {
      padding: 9px 0 11px 0;
    }
  }
}

.featured__price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;

  @media @tablet-widths {

    font-size: 20px;
    line-height: 24px;
    padding-right: 50px;
    margin-bottom: 34px;
  }

  @media @desktop-widths {

    margin-bottom: 34px;
    padding-right: 56px;
  }
}

.featured__form {
  padding: 14px 0 14px 0;

  @media @tablet-widths {

    margin-right: 44px;
    margin-left: -3px;
  }

  @media @desktop-widths {

    margin-right: 58px;
    margin-left: 1px;
  }
}

.featured__photo {
  margin-bottom: 18px;

  @media @tablet-widths {

    position: absolute;
    left: 334px;
    top: 107px;
    width: 334px;
    margin: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  @media @desktop-widths {

    width: 525px;
    left: 525px;
    top: 0;
  }
}
