.form-order {
  display: flex;
  flex-direction: column;
  color: #505050;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form-order__inner {
  .container();
  margin-bottom: 29px;

  @media @tablet-widths {

    display: flex;
    flex-direction: row;
    margin-bottom: 33px;
  }

  @media @desktop-widths {

    margin-bottom: 32px;
  }
}

.form-order__wrapper-color {

  @media @tablet-widths {

    background-color: #f1f1f1;
    padding: 45px 0 0 0;
    margin-bottom: 45px;
  }
}

.form-order__wrapper-link {

  @media @tablet-widths {

    background-color: #f1f1f1;
    padding-top: 45px;
    margin-top: 16px;
    margin-bottom: 45px;
  }
}

.form-order__inner-link {
  .container();
  margin-bottom: 29px;

  @media @tablet-widths {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 31px;
  }

  @media @desktop-widths {

  }
}

.form-order__title {
  position: relative;
  display: block;
  color: #62d1ba;
  text-transform: uppercase;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;


  &::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 62px;
    height: 1px;
    width: 198px;
    background-color: #62d1ba;
  }

  &--email {

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      left: 79px;
      height: 1px;
      width: 179px;
      background-color: #62d1ba;
    }
  }

  @media @tablet-widths {

    width: 167px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    padding-top: 23px;

      &::after {
      display: none;
    }
  }

  @media @desktop-widths {

    width: 114px;
    padding-left: 62px;
  }
}

.form-order__info {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 501px;
    padding-top: 17px;
  }

  @media @desktop-widths {

    width: 815px;
  }
}

.form-order__radio {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 501px;
  }

  @media @desktop-widths {

    width: 815px;
  }
}

.form-order__info-radio {

  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding: 10px 38px 14px 62px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #444444;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: #c7c7c7;
  }


  @media @tablet-widths {

    font-size: 19px;
    padding: 21px 0 21px 80px;
    margin-bottom: 15px;
  }

  @media @desktop-widths {

    width: 510px;
  }
}

input[type="radio"]:checked + .form-order__info-radio::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.form-order__checkbox {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 501px;
  }

  @media @desktop-widths {

    width: 790px;
  }
}

.form-order__info-checkbox {

  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding: 13px 0 13px 63px;
  margin-bottom: 17px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #444444;
  }

  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: #c7c7c7;
  }

  &:last-child {
    margin-bottom: -2px;
  }

  @media @tablet-widths {

    flex-wrap: wrap;
    font-size: 19px;
    padding: 21px 0 21px 80px;
    margin-bottom: 15px;
    width: 159px;
  }

  @media @desktop-widths {

    width: 150px;
    margin-right: auto;
  }
}

input[type="checkbox"]:checked + .form-order__info-checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat center;
}

.form-order__info-title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 5px;

  @media @tablet-widths {

    font-size: 19px;
    margin-right: 25px;
  }
}

.form-order__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  padding-top: 16px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 2px solid #000000;
  margin-bottom: 17px;
  color: #000000;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 1px;
  }

  &:hover,
  &:active {
    border-color: #62d1ba;
  }

  @media @tablet-widths {

    width: auto;
    flex-basis: 370px;
    flex-grow: 2;
    align-items: center;
    font-size: 19px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    background-color: transparent;
    padding: 2px 0 15px 17px;
  }

  @media @desktop-widths {

    width: auto;
    flex-basis: 570px;
    margin-right: 116px;
  }
}

.form-order__input-link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 2px solid #000000;
  margin-bottom: 30px;
  color: #000000;
  box-sizing: border-box;

  &:hover,
  &:active {
    border-color: #62d1ba;
  }

  @media @tablet-widths {

    width: 501px;
    flex-grow: 2;
    align-items: center;
    font-size: 19px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    padding: 23px 0 10px 18px;
    margin-bottom: 19px;
    background-color: transparent;
  }

  @media @desktop-widths {

    width: auto;
    flex-basis: 584px;
    margin-right: 175px;
  }
}

.form-order__textarea::placeholder,
.form-order__input::placeholder {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  opacity: 0.3;

  @media @tablet-widths {

    font-size: 19px;
    line-height: 18px;
  }
}

.form-order__textarea {
  min-height: 123px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #000000;
  vertical-align: middle;
  padding: 15px 45px 0 15px;

  &:hover,
  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    outline: none;
    border-color: #62d1ba;
  }

  @media @tablet-widths {

    min-height: 125px;
    padding: 13px 45px 0 15px;
    margin-top: 5px;
    width: 437px;
  }

  @media @desktop-widths {

    width: 681px;
    padding: 14px 0 0 14px;
  }
}

.form-order__submit {

  margin-top: -11px;

  @media @tablet-widths {
    .container();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 50px;

    @media @desktop-widths {

      margin-top: 15px;
      width: 700px;
    }
  }
}

.form-order__notice {
  .container();
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  @media @tablet-widths {

    margin: 0;
    font-size: 17px;
    line-height: 30px;
    flex-basis: 300px;
    order: 2;
  }

  @media @desktop-widths {

    transform: translateX(2px);
  }
}

.form-order__btn {
  .container();
  margin-bottom: 55px;
  padding: 14px 42px;

  @media @tablet-widths {

    flex-basis: 230px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    padding: 17px 25px 15px 25px;
    margin: 0;
    margin-top: 2px;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #62d1ba;
}

