.form-order {
  width: 320px;
  margin: 0 auto;
  margin-top: 28px;
  color: #505050;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form-order__title--hidden {
  display: none;
}

.form-order__descr {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin: 0 47px 20px 30px;
}

.form-order__info {
  margin: 0;
  padding: 0;
  margin: 0 30px 0 30px;
}

.form-order__info-inner {
   margin-top: 30px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-order__legend {
  color: #62d1ba;
  text-transform: uppercase;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.form-order__legend-underline {
  position: relative;
  left: 62px;
  bottom: 40px;
  width: auto;
  border-top: 1px solid #62d1ba;
  margin-right: 60px;
}

.form-order__info-title {
  display: block;
  margin: 0;
  padding: 0;
}

.form-order__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  border: none;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 2px solid #000000;
  margin-top: 15px;
  margin-bottom: 23px;
  color: #cccccc;
}

.form-order__title-underline {
  position: relative;
  left: 62px;
  bottom: -10px;
  width: auto;
  border-top: 1px solid #62d1ba;
  margin-right: 60px;
}

.form-order__legend-title {
  display: block;
  color: #62d1ba;
  text-transform: uppercase;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.form-order__textarea {
  width: 93%;
  min-height: 123px;
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #000000;
  vertical-align: middle;
  padding: 15px 0 0 15px;
  margin-top: 23px;
}

.form-order__notice {
  display: block;
  margin-top: 13px;
  margin-bottom: 30px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.form-order__btn {
  margin-bottom: 55px;
}
