.main-nav {
  display: none;
  position: absolute;
  width: 320px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #ffffff;
}

.main‐nav__list {
  min-height: 315px;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  border-top: 1px solid #f1f1f1;
}

.main‐nav__item {
  display: block;
  width: 250px;
  padding: 30px 35px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;

}

.main‐nav__toggler {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -50px;
  left: 230px;
}
