.main-nav {
  position: relative;
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;

  @media @tablet-widths {

    .container();
    background-color: transparent;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media @desktop-widths {

    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-nav__toggler {
  position: absolute;
  display: block;
  top: 30px;
  right: 30px;
  z-index: 10;
  width: 30px;
  height: 30px;
  font-size: 0;
  border: none;
  background: #ffffff;
  cursor: pointer;
  outline: none;

  @media @tablet-widths {

    display: none;
  }
}

.main-nav--closed .main-nav__toggler::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 20px;
  height: 2px;
  background: #000000;
  box-shadow: 0 6px 0 0 #000000,
              0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggler {
  top: 20px;
  right: 30px;

  &::before,
  &::after {

    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 20px;
    height: 2px;
    background: #000000;
  }

  &::before {

    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {

    transform: rotate(-45deg);
  }
}

@media (max-width: 767px) {

  .main-nav--closed .main-nav__item {

    display: none;

    &--logo {

      display: block;
    }

    @media @tablet-widths {

      display: block;
    }
  }

  .main-nav--opened {

    position: absolute;
  }

  .main-nav--opened .main-nav__item {

    display: block;

    &--delivery {

      display: none;
      border-bottom: none;
    }

    @media @tablet-widths {

      &--delivery {

        display: block;
        border-bottom: none;
      }
    }
  }

  .main-nav--nojs .main-nav__toggler {
    display: none;
  }

  .main-nav--nojs .main-nav__item {

    display: block;

    &--delivery {

      display: none;
      border-bottom: none;
    }
  }
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @media @tablet-widths {

    flex-direction: row;
    flex-wrap: wrap;
    width: 334px;
    order: 3;
    margin-top: -60px;
  }

  @media @desktop-widths {

    width: 440px;
    order: 1;
    margin-top: 0;
  }
}

.main-nav__user-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @media @tablet-widths {

    flex-direction: row;
    flex-wrap: wrap;
    width: 348px;
    order: 2;
  }

  @media @desktop-widths {

    width: 350px;
    order: 3;
  }
}

.main-nav__item {
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border-bottom: 1px solid #ececec;

  a {

    position: relative;
    display: block;
    color: #000000;
    text-decoration: none;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 75px;

    &:hover {

      color: rgba(0, 0, 0, 0.6);
    }

    &:active {

      color: rgba(0, 0, 0, 0.3);
    }
  }

  &--catalog {

    border-top: 1px solid #ececec;
  }

  &--search a::before {

    content: "";
    position: absolute;
    width: 18px;
    height: 19px;
    background: data-uri("../img/icon-search.svg") no-repeat center;
    opacity: 0.2;
    top: 29px;
    left: 33px;
  }

  &--search a:hover::before {

    background: data-uri("../img/icon-search-hover.svg") no-repeat center;
    opacity: 1;
  }

  &--search a:active::before {

    background: data-uri("../img/icon-search-hover.svg") no-repeat center;
    opacity: 0.3;
  }

  &--basket a::before {

    content: "";
    position: absolute;
    width: 18px;
    height: 19px;
    background: data-uri("../img/icon-cart.svg") no-repeat center;
    opacity: 0.2;
    top: 29px;
    left: 33px;
  }

  &--basket a:hover::before {

    background: data-uri("../img/icon-cart-hover.svg") no-repeat center;
    opacity: 1;
  }

  &--basket a:active::before {

    background: data-uri("../img/icon-cart-hover.svg") no-repeat center;
    opacity: 0.3;
  }

  &--new {

    border-bottom: none;

    a {

      display: none;
    }
  }

  &--sale {

    border-bottom: none;

    a {

      border-bottom: none;
      display: none;
    }
  }

  @media @tablet-widths {

    border-bottom: none;
    width: 167px;

    &--catalog {

      width: 167px;
      border-top: none;

      a {

        font-size: 15px;
        padding-left: 0;
        padding-top: 18px;
        padding-bottom: 18px;
        border-bottom: none;
      }
    }

    &--order {

      width: 167px;

      a {

        padding-left: 0;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 15px;
        border-bottom: none;
      }
    }

    &--search {

      width: 82px;
      border-left: 1px solid #ececec;

      a {

        font-size: 0;
        padding-left: 0;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: none;
      }

      a::before {

        top: 35px;
      }
    }

    &--basket {

      width: 264px;
      border-left: 1px solid #ececec;

      a {

        padding-left: 82px;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: none;
      }

      a::before {

        top: 35px;
      }
    }

    &--delivery {

      width: 334px;
      display: block;
      font-weight: 400;
      text-align: right;
      font-size: 15px;
      line-height: 24px;
      padding-top: 18px;
      padding-bottom: 18px;
      margin-left: auto;
    }
  }

  @media @desktop-widths {

    &--catalog {

      width: 183px;
      border-right: 1px solid #ececec;

      a {

        font-size: 17px;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-right: 17px;
      }
    }

    &--order {

      width: 256px;

      a {

        font-size: 17px;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 34px;
      }
    }

    &--new {

      width: 183px;

      a {

        display: block;
        padding-left: 0;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 17px;
        font-size: 15px;
        border-bottom: none;
      }
    }

    &--sale {

      width: 256px;

      a {

        display: block;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 35px;
        font-size: 15px;
        border-bottom: none;
      }
    }
  }
}

.main-nav__logo {
  display: block;

  img {

    padding-bottom: 13px;
    padding-top: 22px;

    &:hover {

      opacity: 0.6;
    }

    &:active {

      opacity: 0.3;
    }

    @media @tablet-widths {

      width: 115px;
      margin-left: -3px;
      padding-top: 21px;
      padding-bottom: 21px;
    }

    @media @desktop-widths {

      width: 150px;
      padding-top: 8px;
      padding-left: 10px;
      margin-left: 0;
    }
  }

  @media @tablet-widths {
    width: 320px;
    order: 1;
    margin-bottom: 0;
  }

  @media @desktop-widths {

    width: 260px;
    order: 2;
  }
}
