.menu {
  width: 320px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: -73px;
}

.menu__product {
  display: block;
  width: 110px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #63d1bb;
  padding: 26px 180px 29px 30px;
}

.menu__product--toy {
  background-color: #56c3b2;
 }
