.page-header {
  min-height: 50px;
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;

}

.page-header__logo {
  display: block;
  position: relative;
  width: 86px;
  height: 35px;
  left: 115px;
  bottom: 22px;
}
