.page-order__title--hidden {
  display: none;
}

.page-order__descr {
  .container();
  width: 240px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 15px;

  @media @tablet-widths {
    width: 628px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 52px;
    padding-right: 40px;
  }

  @media @desktop-widths {

    width: 650px;
    padding-right: 50px;
  }
}
