.product {
  display: flex;
  flex-direction: column;
  flex-basis: 260px;
  flex-grow: 1;
  margin-bottom: 30px;

  @media @tablet-widths {

    flex-direction: row;
    flex-basis: 668px;
    margin-bottom: 54px;
  }

  @media @desktop-widths {

    flex-direction: column;
    flex-basis: 316px;
    margin-right: 50px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.product__photo {

  img {

    display: block;
    height: 100%;
    width: 100%;
  }

  @media @tablet-widths {

    flex-basis: 334px;
    height: 334px;
  }

  @media @desktop-widths {

    flex-basis: 462px;
  }
}

.product__inner {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-right: 27px;
  padding-left: 27px;
  border: 1px solid #f1f1f1;

  &:hover {

    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {

    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @media @tablet-widths {

    flex-grow: 1;
    padding-top: 0;
    padding-left: 26px;
  }
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;

  & a:hover {

    color: rgba(0, 0, 0, 0.6);
  }

  & a:active {

    color: rgba(0, 0, 0, 0.3);
  }

  @media @tablet-widths {

    font-size: 20px;
    margin-top: 24px;
  }

  @media @desktop-widths {

    margin-top: 25px;
  }
}

.product__descr {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 19px;

  @media @tablet-widths {

    font-size: 15px;
  }

  @media @desktop-widths {

    margin-bottom: 15px;
  }
}

.product__buy {
  display: flex;
  margin-top: auto;
  border-top: 1px solid #f1f1f1;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding-top: 21px;
  margin-bottom: 27px;

  @media @tablet-widths {

    font-size: 17px;
    padding-left: 4px;
  }

  @media @desktop-widths {

    padding-left: 0;
  }
}

.product__price {
  flex-grow: 1;
}
