.reviews {
  position: relative;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #828282;
  margin-bottom: 86px;

  &::after {

    content: "";
    position: absolute;
    background: url("../img/bg-zigzag-line.svg") repeat-x 8px;
    background-size: 100% 7px;
    width: 100%;
    height: 12px;
    bottom: -53px;
  }

  @media @tablet-widths {

    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: #ffffff url("../img/review@1x.jpg") no-repeat left 0;
    font-size: 17px;
    padding-top: 78px;
    margin-bottom: 146px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

      background: #ffffff url("../img/review@2x.jpg") no-repeat left 0;
      background-size: 350px 457px;
    }

    &::after {

      background: url("../img/bg-zigzag-line.svg") repeat-x 19px;
      background-size: 100% 15px;
      height: 30px;
      bottom: -91px;
      left: 0;
    }
  }

  @media @desktop-widths {

    .container();
    padding-top: 70px;
    padding-bottom: 58px;
    margin-bottom: 150px;

    &::after {

      background: url("../img/bg-zigzag-line.svg") repeat-x 26px;
      background-size: 100% 23px;
      height: 30px;
      bottom: -83px;
      left: 0;
    }
  }
}

.reviews__wrapper {
  .container();

  @media @tablet-widths {

    position: relative;
  }

  @media @desktop-widths {

    width: 875px;
    padding-left: 174px;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  @media @tablet-widths {

    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
    transform: translateX(-5px);
  }

  @media @desktop-widths {

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__write {
  padding-right: 78px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 78px;

  @media @tablet-widths {

    position: absolute;
    padding-right: 38px;
    padding-left: 38px;
    right: 0;
    top: 1px;
  }

  @media @desktop-widths {

    top: 8px;
  }
}

.reviews__page {
  display: flex;
  margin-bottom: 38px;

  @media @tablet-widths {

    position: absolute;
    justify-content: flex-end;
    border: none;
    right: 0;
    bottom: 12px;
  }

  @media @desktop-widths {

    bottom: 51px;
    margin-bottom: 0;
  }
}

.reviews__prev {
  width: 130px;
  height: 52px;
  font-size: 0;
  background: transparent url("../img/icon-left-arrow.svg") no-repeat center;
  border: 1px solid #ececec;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {

    opacity: 0.6;
  }

  &:active {

    opacity: 0.3;
  }

  @media @tablet-widths {

    width: 87px;
    height: 50px;
    border: none;
  }
}

.reviews__next {
  width: 130px;
  height: 52px;
  font-size: 0;
  background: transparent url("../img/icon-right-arrow.svg") no-repeat center;
  border: 1px solid #ececec;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {

    opacity: 0.6;
  }

  &:active {

    opacity: 0.3;
  }

  @media @tablet-widths {

    width: 88px;
    height: 50px;
    border: none;
  }
}
