.slider__slides {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.slider__slide:nth-child(n+2) {
  display: none;
}

.slider__item {
  margin: 0;
  padding: 0;
}

.slider__author-review {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  font-style: normal;
}

@media @tablet-widths {

  .slider__slides {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  .slider__item {
    margin-right: 100px;
  }
}

@media @desktop-widths {

  .slider__slides {

  }
}
