.video-bg {
  .container();
  margin-bottom: 58px;
  position: relative;

  @media @tablet-widths {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 63px;
  }

  @media @desktop-widths {

    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #f1f1f1;
    margin-bottom: 101px;
  }
}

.video-bg__content {
  display: flex;
  flex-direction: column;
  padding: 23px 33px 32px 33px;
  border: 1px solid #f1f1f1;

  @media @tablet-widths {

    padding: 34px 41px 45px 41px;
  }

  @media @desktop-widths {

    border: none;
    flex-grow: 1;
    flex-basis: 230px;
    padding: 38px 58px 60px 70px;
  }
}

.video-bg__title {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 202px;
  padding-left: 57px;

  @media @tablet-widths {

    font-size: 20px;
    padding-bottom: 33px;
    padding-left: 65px;
  }

  @media @desktop-widths {

    padding: 57px 39px 33px 8px;
  }
}

.video-bg__descr {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 25px;


  @media @tablet-widths {

    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
    margin-left: -2px;
  }

  @media @desktop-widths {

    margin-left: 8px;
    margin-bottom: 46px;
  }
}

.video-bg__order {
  padding: 14px 0 14px 0;

  @media @desktop-widths {

    margin-left: 9px;
  }
}

.video-bg__video {
  position: absolute;
  top: 97px;

  @media @tablet-widths {

    display: flex;
    position: static;
    height: 455px;
    width: 100%;
    border: 1px solid green;
  }

  @media @desktop-widths {

    flex-basis: 682px;
    height: 455px;
  }
}
