.video-bg {
  .container();
  margin-bottom: 58px;
  position: relative;

  @media @tablet-widths {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 63px;
  }

  @media @desktop-widths {

    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #f1f1f1;
    margin-bottom: 103px;
  }
}

.video-bg__content {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 33px;
  padding-right: 33px;
  border: 1px solid #f1f1f1;

  &:hover {

    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {

    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @media @tablet-widths {

    padding-top: 37px;
    padding-bottom: 45px;
    padding-left: 41px;
    padding-right: 41px;
  }

  @media @desktop-widths {

    border: none;
    flex-grow: 1;
    width: 230px;
    padding-top: 38px;
    padding-bottom: 60px;
    padding-left: 78px;
    padding-right: 58px;
  }
}

.video-bg__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 201px;
  padding-left: 56px;

  &::before {

    content: "";
    position: absolute;
    top: 9px;
    left: -2px;
    width: 36px;
    height: 26px;
    background: url("../img/icon-video.svg") no-repeat center;
  }

  @media @tablet-widths {

    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 32px;
    padding-left: 64px;

    &::before {

      top: -2px;
    }
  }

  @media @desktop-widths {

    padding-top: 57px;
    padding-left: 0;
    padding-right: 39px;
    margin-bottom: 33px;

    &::before {

     top: 6px;
     left: 0;
    }
  }
}

.video-bg__descr {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 25px;


  @media @tablet-widths {

    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
    margin-left: -2px;
  }

  @media @desktop-widths {

    margin-left: 0;
    margin-bottom: 46px;
  }
}

.video-bg__order {
  padding-top: 14px;
  padding-bottom: 14px;
}

.video-bg__video {
  position: absolute;
  top: 97px;

  &::after {

    content: "";
    position: absolute;
    background: url("../img/icon-play.svg") no-repeat center;
    background-size: 100%;
    width: 102px;
    height: 78px;
    top: 23%;
    left: 30%;

    &:hover {

      background-size: 120%;
    }

    &:active {

      background-size: 80%;
      opacity: 0.3;
    }
  }

  img {

    display: block;
    width: 100%;
    height: auto;
  }

  @media @tablet-widths {

    position: relative;
    top: 0;

    &::after {

      top: 41%;
      left: 42%;
    }
  }

  @media @desktop-widths {

    width: 682px;
    height: 455px;

    &::after {

      left: 43%;
    }
  }
}
